{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} {%blocktrans%}Add {{event}} Record{%endblocktrans%}{%endblock%}
{%block content%} 
 <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Add Result"%}</h2>
					</div>
					<div class="box-content">
	


{% bootstrap_messages %}
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
 


<div class="col-sm-12 col-md-12">
<h1>{%trans "Add Result for"%} {{event}} </h1>
{%trans "Stage"%}:{{instance}}<br>
{%trans "Notes"%}:{{instance.notes}}<br>
{%trans "Due Date"%}:{{instance.due_date}}<br>
{% bootstrap_messages %}


<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Submit"%}
        </button>
    {% endbuttons %}
</form>


</div>
{%endblock%}


{%block bottom%}
{%endblock%}
