{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%}{%trans " Reproduction Tracking"%} {%endblock%}
{%block content%}


<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Reproduction Tracking System"%}</h2>

					</div>
					<div class="box-content">
	
<div class="row">
<a class="btn btn-info pull-right span2" href="/pregnancy/add_record/">{%trans "New Record"%}</a>
</div>
{% bootstrap_messages %}


<div id="repochart" style="height: 300px;"></div>



<div class="alert alert-info">Click on the cattle name to get details</div>

{%if pregnant_list%}
 <div class="page-header">
        <h1 id="timeline">{%trans "Pregnant Cattle List"%}</h1>
  
    </div>
      <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "Name"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in pregnant_list%}           
 <tr>
            

              <td><a href="/pregnancy/record/{{cow.pregnancy.id}}/">{{cow.pregnancy.cow.name}}</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>

</div>

{%endif%}

{%if parturated_list%}
 <div class="page-header">
        <h1 id="timeline">{%trans "Parturated List"%}</h1>
  
    </div>
 

      <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "Name"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in parturated_list%}           
 <tr>


              <td><a href="/pregnancy/record/{{cow.pregnancy.id}}/">{{cow.pregnancy.cow.name}}</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>

</div>
{%endif%}

{%if conceieved_list%}
 <div class="page-header">
        <h1 id="timeline">{%trans "Conceieved List"%}</h1>
  
    </div>
 
      <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "Name"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in conceieved_list%}           
 <tr>
              <td><a href="/pregnancy/record/{{cow.pregnancy.id}}/">{{cow.pregnancy.cow.name}}</td>
           </tr>
{%endfor%}
                     </tbody>
        </table>

</div>
{%endif%}

{%if heat_list%}
 <div class="page-header">
        <h1 id="timeline">{%trans "Heat List"%}</h1>
  
    </div>
 
      <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "Name"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in heat_list%}           
 <tr>


              <td><a href="/pregnancy/record/{{cow.pregnancy.id}}/">{{cow.pregnancy.cow.name}}</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>

</div>

{%endif%}

{%endblock%}


{%block bottom_js%}
<script>
var data = [
	{ label: "Pregnant",  data: {{pregnant}} },
	{ label: "Parturated",  data: {{parturition}} },
	{ label: "Concieved",  data: {{conceieved}} },
	{ label: "heat",  data: {{heat}} },
	];
	
	/* ---------- Donut chart ---------- */
	if($("#repochart").length)
	{
		$.plot($("#repochart"), data,
		{
				series: {
						pie: {
								innerRadius: 0.5,
								show: true
						}
				},
				legend: {
					show: false
				},
				colors: ["#FA5833", "#2FABE9", "#FABB3D", "#78CD51"]
		});
	}
</script>
{%endblock%}
