{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} Reproduction Timeline {%endblock%}
{%block content%}



 <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Reproduction Timeline"%}</h2>
					</div>
					<div class="box-content">
	

<div class="alert alert-info">
{%trans "To enter detail about the latest stage, add new event"%}
</div>

{% bootstrap_messages %}
{% if messages %}
<div class="alert alert-success" role="alert">
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}
 <div class="page-header">
        <h1 id="timeline"><strong><a href="/cow/{{pregnancy.cow.id}}/">{{pregnancy.cow}}</a></strong> </h1>
<div class="dropdown">
  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    {%trans "New Event"%}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/pregnancy/add_parturition/{{pregnancy.id}}/">{%trans "Pasturition"%}</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/pregnancy/add_heat/{{pregnancy.id}}/">{%trans "Heat"%}</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/pregnancy/add_conceieved/{{pregnancy.id}}/">{%trans "Conceieved"%}</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/pregnancy/add_pregnant/{{pregnancy.id}}/">{%trans "Pregnant"%}</a></li>
  <li role="presentation" class="divider"></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="/pregnancy/add_treatment/{{pregnancy.id}}/">{%trans "Treatment"%}</a></li>
  

  </ul>

</div>
    </div>

{%if result_list%}
       <div class="timeline">
        
{%for event in result_list%}
	<div class="timeslot {%cycle '' 'alt'%}">
          <div class="icon"><i class="fa fa-check"></i></div>

            <div class="task">
<span>
              <h4 class="timeline-title">{{event}}</h4>



              <p class="little-large">{{event.notes}}</p>
	{%if event.result%}

              <p class="red little-large">{%trans "Result"%}: {{event.result}}</p>
{%else%}
<a class="btn btn-info" href="/pregnancy/result/{{event}}/{{event.id}}/">Update Result</a>
{%endif%}            
              <p><small class="red text-muted"><i class="red glyphicon glyphicon-time"></i>{%trans "Due date"%} - {{event.due_date}} </small></p>
</span>
<div class="arrow"></div>
          </div>
              <div class="time">{{event.date}} </div>
        </div>
{%endfor%}

{%endif%}
{%endblock%}


{%block bottom%}
{%endblock%}
