{%extends 'cow/index.html'%}
{% load bootstrap3 %}

{% load i18n %} 
{%block title%} {%trans "Add Cow Details"%}{%endblock%}
{%block content%}
	<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Animal Record"%}</h2>
					</div>
					<div class="box-content">
	



{% bootstrap_messages %}


<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Next"%}
        </button>
    {% endbuttons %}
</form>


</div>
{%endblock%}


{%block bottom%}
{%endblock%}
