{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} {%trans "Add Health Task"%} {%endblock%}
{%block content%}
  <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Create health task"%}</h2>
					</div>
					<div class="box-content">
	



{% bootstrap_messages %}

<div class="alert alert-info">
							<button data-dismiss="alert" class="close" type="button">×</button>
							<strong>{%trans "Heads up!"%}</strong> 
{%trans "You will get an alert for this task on the due date"%}
						</div>


<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Submit"%}
        </button>
    {% endbuttons %}
</form>

</div>
{%endblock%}


{%block bottom%}
{%endblock%}
