{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{%load i18n%}
{%block title%}{%trans "Delete cattle record"%} - {{cow.name}} {%endblock%}
{%block content%}
  <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Delete Animal Record?"%}</h2>
					</div>
					<div class="box-content">
	



{% bootstrap_messages %}

<div class="panel panel-default">
        <!-- Default panel contents -->


<table class="table">
<tr>
<td>
{%trans "Cattle Name"%}:
</td>
<td>
{{cow.name}}
</td>
<tr>
<td>
{%trans "Do you really	 want to delete this cattle record"%}?
</td>
<td>
<a class="btn btn-danger" href="/cow/delete/{{cow.id}}/">{%trans "Yes, delete"%}</a>
</td>
</tr>



</table>


     </div>
</div>
{%endblock%}


{%block bottom%}
{%endblock%}
