{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%}{{cow.name|upper}} {%trans "Profile"%}{%endblock%}
{%block content%}

	<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{{cow.name|upper}}</h2>
					</div>
					<div class="box-content">

{% bootstrap_messages %}

<a  class="btn btn-danger pull-right" href="/update_cow/{{cow.id}}/">Edit</a>
<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h1>{%trans "General Details"%}</h1></div>
 <div class="panel-body">
<table class="table">
<tr>
<td>
<b>{%trans "Cattle Name"%}:</b>
</td>
<td>
{{cow.name|upper}}
</td>
<tr>
<td>
<b>{%trans "Birth Date"%}:</b>
</td>
<td>
{{cow.date_of_birth}}
</td>
</tr>
<tr>
<td>
<b>{%trans "Details"%}:</b>
</td>
<td>
{{cow.description}}
</td>
</tr>
<tr>
<td>
<b>{%trans "Breed"%}:</b>
</td>
<td>
{{cow.breed}}
</td>
</tr>
<tr>
<td>
<b>{%trans "Photo"%}:</b>
</td>
<td>
{%if cow.photo%}
<img style="width:200px; height:200px; padding:5px; background:#ccc" src="{{cow.photo.url}}" alt="{{cow}}"/>
{%else%}
{%trans "Not Available"%}
{%endif%}
</td>


</tr>







</table>
</div>
 <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->

<div class="panel panel-danger">
        <!-- Default panel contents -->
        <div class="panel-heading"><h1>{%trans "Health Alerts"%}</h1></div>
 <div class="panel-body">


       <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "Task"%}</th>
	      <th>{%trans "Due Date"%}</th>
	      <th>{%trans "Done"%}</th>
              <th>{%trans "Update"%}</th>
            </tr>
          </thead>
          <tbody>
{%for task in tasks%}           
 <tr>
              <td><a href="/task/{{task.id}}/">{{task.task_name}}</a></td>
              <td>{{task.due_date}}</td>
              <td>{%if  task.task_completed%} <span class="label label-success">{%trans "Yes"%}</span> {%else%}<span class="label label-important">{%trans "No"%}</span>{%endif%}</td>
              <td>
<div class="btn-group">
<a class="btn btn-default" href="/update_task/{{task.id}}"><i class="fa fa-edit"></i></a>
</div>
</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>
  </div>
 <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->


<h1>{%trans "Reproduction Cycle"%}</h1>

{%if result_list%}
       <div class="timeline">
        
{%for event in result_list%}
	<div class="timeslot {%cycle '' 'alt'%}">
          <div class="icon"><i class="fa fa-check"></i></div>

            <div class="task">
<span>
              <h4 class="timeline-title">{{event}}</h4>



              <p class="little-large">{{event.notes}}</p>
	{%if event.result%}

              <p class="red little-large">{%trans "Result"%}: {{event.result}}</p>

{%else%}
<a class="btn btn-info" href="/pregnancy/result/{{event}}/{{event.id}}/">{%trans "Update Result"%}</a>
{%endif%}            
 
              <p><small class="red text-muted"><i class="red glyphicon glyphicon-time"></i>{%trans "Due date"%} - {{event.due_date}} </small></p>

</span>
<div class="arrow"></div>      
    </div>
              <div class="time">{{event.date}} </div>
        </div>
{%endfor%}

{%endif%}

</div>
{%endblock%}


{%block bottom%}
{%endblock%}
