{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %} 
{%block title%}{%trans "Cattle List"%}{%endblock%}
{%block content%}
		<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Animal"%}</h2>
					</div>
					<div class="box-content">
	
{% bootstrap_messages %}
<div class="row">
<a class="btn btn-info pull-right span2" href="/add_cow/">{%trans "New Record"%}</a>
</div>



<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{%trans "Cattle List"%}</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>{%trans "Name"%}</th>
	      <th>{%trans "Date of birth"%}</th>
              <th>{%trans "Action"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in cows%}           
 <tr>
              <td>{{cow.id}}</td>
              <td><a href="/cow/{{cow.id}}">{{cow.name}}</a></td>
              <td>{{cow.date_of_birth}}</td>
              <td>
<div class="btn-group">
<a class="btn btn-default" href="/update_cow/{{cow.id}}/"><i class="fa fa-edit"></i></a>
<a class="btn btn-default" href="/add_health_task/"><i class="fa fa-plus"></i></a>
<a class="btn btn-danger" href="/cow/delete/confirm/{{cow.id}}/"><i class="fa fa-minus"></i></a>
</div>
</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
</div>
{%endblock%}


{%block bottom%}
{%endblock%}
