{%extends 'cow/index.html'%}

{% load bootstrap3 %}
{% load i18n %}
{%block content%}

  <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Dairy Information"%}</h2>
					</div>
					<div class="box-content">


{% bootstrap_messages %}

<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Submit"%}
        </button>
    {% endbuttons %}
</form>


{%endblock%}

{%block bottom%}
{%endblock%}
