{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%}{{task.task_name}} {%trans "Task Details"%}{%endblock%}
{%block content%}
  <div class="col-sm-12 col-md-12">
  <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Health task"%}</h2>
					</div>
					<div class="box-content">
	



{% bootstrap_messages %}
{% bootstrap_messages %}

<table class="table">
<tr>
<td>
{%trans "Task Name"%}:
</td>
<td>
{{task.task_name}}
</td>
</tr>
<tr>
<td>
{%trans "Cattle name"%}:
</td>
<td>
<a href="/cow/{{task.cow.id}}/">{{task.cow.name}}</a>
</td>
</tr>
<tr>
<td>
{%trans "Added on"%}:
</td>
<td>
{{task.added_on}}
</td>
</tr>
<tr>
<td>
{%trans "Details"%}:
</td>
<td>
{{task.task_details}}
</td>
</tr>
<tr>
<td>
{%trans "Task Result"%}:
</td>
<td>
{{task.result}}
</td>
</tr>





</table>
{%if not task.result%}
<a class="btn btn-info" href="/update_task/{{task.id}}/">{%trans "Update Task"%}</a>
{%endif%}
</div>
{%endblock%}


{%block bottom%}
{%endblock%}
