{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Dairy Management</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static "bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{%static "cow.css"%}" rel="stylesheet">
    <link href="{%static "chosen/chosen.min.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  
<style>
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
</style>
{%block css%}

{%endblock%}

</head>

  <body>
{%block body%}
    <div class="navbar navbar-top navbar-inverse navb" role="navigation">
      <div class="container">
        <div class="navbar-header navh">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navc" href="/">Dairy Management</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class= "navf" href="/">Home</a></li>
            
            <li><a class= "navf" href="#contact">Contact</a></li>
		<li><a class=" navf pull-right" href="#login">Login</a></li>
		
		<li><a class=" navf pull-right" href="#signup" role="button">Signup</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

<div class=container">
<div class="row">
<div class="col-md-12">

    <div data-ride="carousel" class="carousel slide mrg" id="carousell">
      <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carousell"></li>
        <li data-slide-to="1" data-target="#carousell" class="active"></li>
        <li data-slide-to="2" data-target="#carousell" class=""></li>
      </ol>

      <div class="carousel-inner">
        <div class="item img-prop">
          <img src="{%static "images/cowy.jpg"%}">
	  <div class="carousel-caption slid">
            <h3>Manage your dairy farms</h3>
            <p>Easy to maintain total number of cattles their fooder total expenditure and earing of your dairy farm</p>
          </div>
        </div>
        <div class="item active img-prop">
          <img src="{%static "images/cowy.jpg"%}">
	<div class="carousel-caption slid">
            <h3>Notification and Monitoring the health of the cattles</h3>
            <p>Store health information date of birth of each cattle and notify incoming health check of every cattle by sending sms</p>
          </div>
        </div>
        <div class="item img-prop">
          <img src="{%static "images/cowy.jpg"%}">
	<div class="carousel-caption slid">
            <h3>Milk Production</h3>
            <p>Keep daily track of milk capacity of each cattle and total milk production of dairy farm </p>
          </div>
        </div>
      </div>
     <a data-slide="prev" href="#carousell" class="left carousel-control">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a data-slide="next" href="#carousell" class="right carousel-control">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div>

</div> <!--row-->
</div>


<div class="container">
  <div class="row">
{%block content%}

  <div class="col-sm-12 ">
   <center>
	<div class="btn btn-set btn-lg">
	  <span> Manage Your Dairy Now !!</span>	



	</div>
   </center> 
  </div>
 </div>


 <div class="row">
  <div class="col-sm-12">
   
      <div class="col-sm-4 thm">
        <img width="160" height="160" src="{%static "images/log.jpg"%}">
        <h2>Cow Info</h2>
        <p>
          Manage basic information regarding perticular cow and total number of cow in dairy.
          Get real-time analytics and reports.
        </p>
        <div><a class="more" href="#">Learn More →</a></div>
      </div>
      <div class="col-sm-4 thm">
        <img width="160" height="160"  src="{%static "images/log.jpg"%}">
        <h2>Health</h2>
        <p>
          Real time notification about health of cow.
	  Recurring sms to notify the due task 
        </p>
        <div><a class="more" href="#">Learn More →</a></div>
      </div>
      
	<div class="col-sm-4 thm">
        <img width="160" height="160"  src="{%static "images/log.jpg"%}">
        <h2>Milk Production</h2>
        <p>
          Milk Capacity of a cow and total milk production in dairy with monthly earing statistics.
        </p>
        <div><a class="more" href="#">Learn More →</a></div>
      </div>
    

</div>

    


{%endblock%}


{%block bottom%}

{%endblock%}


        <!--</div><!--/span-->
	
        
      </div><!--/row-->
<hr style="border:.3em solid #cb2402">

<div class="row">

  <div class="col-lg-4">
	<h3 style="color:#23445C;">How does it work?</h3>
	<img width="160" height="160" src="{%static "images/log.jpg"%}">
  </div>
  <div class="col-lg-6">
	<div class="col-sm-6">
	<h3 style="color:#cb2402;" class="glyphicon glyphicon-th-list"> Add Cow</h3> <p>Add Cow-- store all info about that cow</p>
	</div>
	<div class="col-sm-6">
	  <h3 style="color:#cb2402;" class="glyphicon glyphicon-plus"> Add Health</h3>
	  <p> Add Health-- Health issue and periodic check of any cow.</p> 
	</div>

	<!--<p>It is very easy to use do a simple sign up 1. Add Cow-- store all info about that cow 2. Add Health-- Health issue and periodic check of any cow. 3. Milk Record-- milk capacity of cow and total production.
	 Sign up today and use free trail of 2 months and give us feedback we will add add feature according to your requirement. To become permanent user its price is Rs.1000/month.   </p>-->
  </div>
</div><!--row-->

<div class="row">

  <div class="col-lg-4">
	<h3></h3>
	
  </div>
  <div class="col-lg-6">
	<div class="col-sm-6">
	<h3 style="color:#cb2402;" class="glyphicon glyphicon-signal"> Milk Production</h3> 
	  <p>  Milk Record-- milk capacity of cow and total production.</p>
	</div>
	<div class="col-sm-6">
	<h3 style="color:#cb2402;" class="glyphicon glyphicon-th-list"> Sign up</h3>
	  <p>Sign up today and use free trail of 2 months and give us feedback we will add add feature according to your requirement. To become permanent user its price is Rs.1000/month.   </p> 
	</div>
  </div>
</div> <!--row-->


<hr>
<div class="row">

  <div class="col-sm-6">
	<h3 style="color:#23445C"> How to manage your dairy farm?</h3>
	<p>A dairy farm which has 200 to 1000 of cattles to manageand to set up this dairy industry you have invested a lot and every cow is the resource of the dairy which needs better care. So Dairy Management is a way to take care of every cow of your farm maintain every single information from their fooder health to milk production. If any cow needs health checkup periodically it stores information and notify about the due date by sending sms.Keep all records of your expenditure and earning and track every requirement a cow needs and notify you any time. Dairy Management make it very easy for you to maintain you dairy industry. 
	 </p>
  </div>
<div class="col-lg-1"></div>
  <div class="col-lg-4"><img width="160" height="160" src="{%static "images/log.jpg"%}"></div>
</div>
      <hr class="mgr">
	<hr style="margin-bottom:30px;">
</div><!--/.container-->
   
<div id="footer">
    <div class="navbar navbar-bottom navbar-inverse navlst" role="navigation">
        <div class="container">
	  <div class="row"><div class="col-lg-5"><h3> About Us</h3> <p> The Team</p>
<p>The People</p></div>
	  <div class="col-lg-5"><h3> Contact Us</h3> <p> Address</p></div>
	  </div>
	 <div class="row">
          <hr>
	  <p>&copy; Geekubuddha 2013</p>
	</div>
	</div>	
    </div>
</div>


    


{%endblock%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js"%}"></script>
    <script src="{%static "bootstrap/js/holder.js"%}"></script>
    <script src="{%static "chosen/chosen.jquery.min.js"%}"></script>
    <script>

$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
  </script>

  </body>
</html>

