{%load staticfiles%}
{% load i18n %} 
{% load bootstrap3 %}


<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>{%block title%}{%trans "Cattlebook"%}{%endblock%}</title>
	<meta name="description" content="Cattlebook, cattle health management" />

	<meta name="keyword" content="cattle health" />
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="{%static "acme/css/bootstrap.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/bootstrap-responsive.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/style.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/style-responsive.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/retina.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/mine.css"%}" rel="stylesheet" />
<link href="{%static "chosen/chosen.min.css"%}" rel="stylesheet">
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%static "acme/ico/apple-touch-icon-144-precomposed.png"%}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%static "acme/ico/apple-touch-icon-114-precomposed.png"%}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%static "acme/ico/apple-touch-icon-72-precomposed.png"%}" />
	<link rel="apple-touch-icon-precomposed" href="{%static "acme/ico/apple-touch-icon-57-precomposed.png"%}" />
	<!-- end: Favicon and Touch Icons -->
	
		
		
		
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav">
						<li>
<a href="/">
								<i class="halflings-icon white home"></i>
</a>
</li>
						<li>
							<a class="btn" href="/alerts/">
								<i class="halflings-icon white warning-sign"></i>
							</a>
						</li>
						
<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white list"></i> 
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/cows/"><i class="fa fa-database"></i>{%trans "Animals"%}</a></li>
								<li><a href="/pregnancy/"><i class="fa fa-venus-mars"></i>{%trans "Reproduction"%}</a></li>
								<li><a href="/milk/"><i class="fa fa-coffee"></i>{%trans "Milk"%}</a></li>
								<li><a href="/alerts/"><i class="fa fa-bullhorn"></i>{%trans "Alerts"%}</a></li>
								<li><a href="/tasks/"><i class="fa fa-tasks"></i>{%trans "Tasks"%}</a></li>
								<li><a href="/status/"><i class="fa fa-tachometer"></i>{%trans "Status"%}</a></li>
							</ul>
						</li>



<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> 
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/dairy/"><i class="halflings-icon white user"></i>{%trans "Profile"%}</a></li>
								<li><a href="/settings/"><i class="halflings-icon white wrench"></i>{%trans "Settings"%}</a></li>
								<li><a href="/accounts/logout/"><i class="halflings-icon white off"></i>{%trans "Logout"%}</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
			<div id="content" class="span11">
			{%block content%}
		<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Dashboard"%}</h2>
					</div>
					<div class="box-content">
						
{% bootstrap_messages %}

{%if cow_message%}

<div class="alert alert-danger">
{{cow_message}} <a class="btn" href="/add_cow/">Add Animal</a>
</div>
{%endif%}
						<a class="quick-button span2" href="/cows/">
							<i class=" fa fa-database"></i>
							<p>{%trans "Animals"%}</p>
						</a>
						<a class="quick-button span2" href="/pregnancy/">
							<i class="fa fa-venus-mars"></i>
							<p>{%trans "Reproduction"%}</p>
						</a>
						<a class="quick-button span2" href="/milk/">
							<i class="fa fa-coffee"></i>
							<p>{%trans "Milk"%}</p>
						</a>
						<a class="quick-button span2" href="/alerts/">
							<i class="fa fa-bullhorn"></i>
							<p>{%trans "Alerts"%}</p>
						</a>
						<a class="quick-button span2" href="/tasks/">
							<i class="fa fa-tasks"></i>
							<p>{%trans "Tasks"%}</p>
						</a>
						<a class="quick-button span2" href="/status/">
							<i class="fa fa-tachometer"></i>
							<p>{%trans "Status"%}</p>
						</a>
						<div class="clearfix"></div>
					</div>	
				</div><!--/span-->
				
			</div>	
				
			
       {%endblock%}
					
			<!-- end: Content -->
			
		
		<div class="clearfix"></div>
		
		<footer>
			<p>
				<span style="text-align:left;float:left">&copy; 2015 <a href="http://cattlebook.co" alt="Cattlebook">{%trans "Cattlebook"%}</a></span>

			</p>
		</footer>
				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="{%static "acme/js/jquery-1.9.1.min.js"%}"></script>
	<script src="{%static "acme/js/jquery-migrate-1.0.0.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery-ui-1.10.0.custom.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.ui.touch-punch.js"%}"></script>
	
		<script src="{%static "acme/js/modernizr.js"%}"></script>
	
		<script src="{%static "acme/js/bootstrap.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.cookie.js"%}"></script>
	
		<script src="{%static "acme/js/fullcalendar.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.dataTables.min.js"%}"></script>

		<script src="{%static "acme/js/excanvas.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.pie.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.stack.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.resize.min.js"%}"></script>
		
		<script src="{%static "acme/js/gauge.min.js"%}"></script>

		<script src="{%static "acme/js/jquery.chosen.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.uniform.min.js"%}"></script>
		
		<script src="{%static "acme/js/jquery.cleditor.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.noty.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.elfinder.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.raty.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.iphone.toggle.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.uploadify-3.1.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.gritter.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.imagesloaded.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.masonry.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.knob.modified.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.sparkline.min.js"%}"></script>
			<script src="{%static "acme/js/counter.js"%}"></script>
	
		<script src="{%static "acme/js/raphael.2.1.0.min.js"%}"></script>
	<script src="{%static "acme/js/justgage.1.0.1.min.js"%}"></script>
	
		<script src="{%static "acme/js/retina.js"%}"></script>

		<script src="{%static "acme/js/core.min.js"%}"></script>
	
		<script src="{%static "acme/js/charts.js"%}"></script>
	
    <script src="{%static "js/jquery.form.min.js"%}"></script>
		<script src="{%static "acme/js/custom.js"%}"></script>
    <script src="{%static "chosen/chosen.jquery.min.js"%}"></script>
	<!-- end: JavaScript-->
	
  <script>

$(document).ready(function() {
  
 $( "#id_date,#id_due_date,#id_date_of_birth" ).datepicker();
$("#id_cow").chosen();


});


  </script>
<script>
var options = { 

        beforeSubmit:  showRequest,  // pre-submit callback 
        success:       showResponse  // post-submit callback 
 
        // other available options: 
        //url:       url         // override for form's 'action' attribute 
        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
        //clearForm: true        // clear all form fields after successful submit 
        //resetForm: true        // reset the form after successful submit 
 
        // $.ajax options can be used here too, for example: 
        //timeout:   3000 
    }; 
 $(function(){
    // bind form using 'ajaxForm' 
    $('.commentForm').ajaxForm(options); 
    $('.milkForm').ajaxForm(); 

}); 
 
// pre-submit callback 
function showRequest(formData, jqForm, options) { 
    // formData is an array; here we use $.param to convert it to a string to display it 
    // but the form plugin does this for you automatically when it submits the data 
    var queryString = $.param(formData); 
 
    // jqForm is a jQuery object encapsulating the form element.  To access the 
    // DOM element for the form do this: 
    // var formElement = jqForm[0]; 
 
    
    // here we could return false to prevent the form from being submitted; 
    // returning anything other than false will allow the form submit to continue 
    return true; 
} 
 
// post-submit callback 
function showResponse(responseText, statusText, xhr, $form)  { 
    // for normal html responses, the first argument to the success callback 
    // is the XMLHttpRequest object's responseText property 
 
    // if the ajaxForm method was passed an Options Object with the dataType 
    // property set to 'xml' then the first argument to the success callback 
    // is the XMLHttpRequest object's responseXML property 
 
    // if the ajaxForm method was passed an Options Object with the dataType 
    // property set to 'json' then the first argument to the success callback 
    // is the json data object returned by the server     


    window.location = '/';
}  
</script>
{%block bottom_js%}

{%endblock%}

</body>
</html>
