{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n%}
{%block title%}{%trans "Milk Records"%}{%endblock%}
{%block content%}

<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Milk production details"%}</h2>
					</div>
					<div class="box-content">
	
<div class="row">

<form action="" method="post"  class="form pull-right">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Change Date"%}
        </button>
    {% endbuttons %}
</form>


</div>



<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h2>{{date}} </h2>
<h4> {%trans "Morning"%} : <span class="morning-total">{{morning}}</span></h4>
<h4> {%trans "Evening"%} : <span class="evening-total">{{evening}}</span></h4>
<h4> {%trans "Total"%} : <span class="total-milk">{{total}}</span></h4></div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "Name"%}</th>
              <th>{%trans "Morning"%}</th>
              <th>{%trans "Evening"%}</th>
              <th>{%trans "Total"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in full_list%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}">{{cow.cow.name}}</a></td>
              <td class="morning-data"><form class="milkForm" action = "/milk/add/" method="get">
<input type="hidden" name="cow" value="{{cow.cow.id}}">
<input type="hidden" name="phase" value="morning">
<input type="hidden" name="date" value="{{date.year}}-{{date.month}}-{{date.day}}">
{%if cow.milk.morning%}
{{cow.milk.morning}}
{%else%}
-
{%endif%}
</form>
</td>

    <td class="evening-data"><form class="milkForm" action = "/milk/add/" method="get">
<input type="hidden" name="cow" value="{{cow.cow.id}}">
<input type="hidden" name="phase" value="evening">
<input type="hidden" name="date" value="{{date.year}}-{{date.month}}-{{date.day}}">
{%if cow.milk.evening%}
{{cow.milk.evening}}
{%else%}
-
{%endif%}
</form>
</td>


              <td class="total-data" data-cow="{{cow.cow.id}}">{{cow.total}}</td>
              <td>
	</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
</div>
{%endblock%}


{%block bottom_js%}
<script>
$(function(){


$( ".evening-data" ).keyup(function() {
var cow = $(this).data("cow");
var morning = $('.morning-data[data-cow='+cow+']').val();
console.log(morning);
console.log(cow);
var evening = $(this).val();
  if(morning)
var total  = parseInt(morning)+parseInt(evening);
  else
     var total = evening;
$('.total-data[data-cow='+cow+']').html(total);

$(this).parent().submit();

var totalevening  = 0;
$(".evening-data").each(function(){
  if($(this).val()){
totalevening = totalevening+parseInt($(this).val());
console.log(totalevening);
}
});
console.log(totalevening);
$(".evening-total").html("");
$(".evening-total").html(totalevening);


var total_milk = totalevening+parseInt($(".morning-total").html());
$(".total-milk").html("").html(total_milk);



});

$( ".morning-data" ).keyup(function() {
var cow = $(this).data("cow");
var evening = $('.evening-data[data-cow='+cow+']').val();
var morning = $(this).val();
  if(evening)
var total  = parseInt(morning)+parseInt(evening);
  else
     var total = morning;
$('.total-data[data-cow='+cow+']').html(total);


var totalmorning = 0;
$(".morning-data").each(function(){
  if($(this).val()){
totalmorning = totalmorning+parseInt($(this).val());
console.log(totalmorning);
}
});
console.log(totalmorning);
$(".morning-total").html("").html(totalmorning);

var total_milk = totalmorning+parseInt($(".evening-total").html());
$(".total-milk").html("").html(total_milk);



$(this).parent().submit();

});



});
</script>
{%endblock%}
