{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} {%trans "Milk Records"%} {%endblock%}
{%block content%}
<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon tasks"></i><span class="break"></span>{%trans "Milk Production Statistics"%}</h2>
					</div>
					<div class="box-content">
					
						 <div id="stackchart" class="center" style="height:300px;"></div>
</div>	
				</div>

					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Record"%}</h2>
					</div>
					<div class="box-content">
						
						<a class="quick-button-small span1" href="/add_milk/">
							<i class="fa fa-plus"></i>
							<p>{%trans "Add Daily Record"%}</p>
						</a>
						<a class="quick-button-small span1" href="/milk/report/">
							<i class="fa fa-calendar"></i>
							<p>{%trans "Daywise Reports"%}</p>
						</a>
						<a class="quick-button-small span1">
							<i class="fa fa-reorder"></i>
							<p>{%trans "Cattlewise Reports"%}</p>
						</a>
						<div class="clearfix"></div>
					</div>	
{%endblock%}


{%block bottom%}
{%endblock%}

{%block bottom_js%}
<script>
	/* ---------- Stack chart ---------- */
	if($("#stackchart").length)
	{
		var d1 = [];
		var i = 0;
		{%for data in data2%}
		d1.push([i,{{data.total}}]);
		i = i+1;
		{%endfor%}


	$.plot($("#stackchart"), [
			{ label: "{%trans "Litre"%}",  data: d1},
		], {
			series: {
				lines: { show: true },
				points: { show: true }
			},
			xaxis: {
				ticks: [{%for data in data2%}'{{data.date}}',{%endfor%}]
			},
			yaxis: {
				ticks: 10,
			},
			grid: {	tickColor: "#dddddd",
					borderWidth: 0 
			},
			colors: ["#FA5833", "#2FABE9", "#FABB3D"]
		});


	}
</script>
{%endblock%} 
