{%load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>{%block title%}Cattlebook{%endblock%}</title>
	<meta name="description" content="Cattlebook, cattle health management" />

	<meta name="keyword" content="cattle health" />
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="{%static "acme/css/bootstrap.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/bootstrap-responsive.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/style.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/style-responsive.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/retina.css"%}" rel="stylesheet" />
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%static "acme/ico/apple-touch-icon-144-precomposed.png"%}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%static "acme/ico/apple-touch-icon-114-precomposed.png"%}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%static "acme/ico/apple-touch-icon-72-precomposed.png"%}" />
	<link rel="apple-touch-icon-precomposed" href="{%static "acme/ico/apple-touch-icon-57-precomposed.png"%}" />
	<link rel="shortcut icon" href="{%static "acme/ico/favicon.png"%}" />
	<!-- end: Favicon and Touch Icons -->
	
		
		
		
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
		<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
								
				<!-- start: Header Menu -->
				<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li class="dropdown ">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white warning-sign"></i>
							</a>
							<ul class="dropdown-menu notifications">
								<li>
									<span class="dropdown-menu-title">You have 11 notifications</span>
								</li>	
                            	<li>
                                    <a href="#">
										+ <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">1 min</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">7 min</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">8 min</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">16 min</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">36 min</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white cart"></i> <span class="message">2 items sold</span> <span class="time">1 hour</span> 
                                    </a>
                                </li>
								<li class="warning">
                                    <a href="#">
										- <i class="halflings-icon white user"></i> <span class="message">User deleted account</span> <span class="time">2 hour</span> 
                                    </a>
                                </li>
								<li class="warning">
                                    <a href="#">
										- <i class="halflings-icon white shopping-cart"></i> <span class="message">Transaction was canceled</span> <span class="time">6 hour</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white comment"></i> <span class="message">New comment</span> <span class="time">yesterday</span> 
                                    </a>
                                </li>
								<li>
                                    <a href="#">
										+ <i class="halflings-icon white user"></i> <span class="message">New user registration</span> <span class="time">yesterday</span> 
                                    </a>
                                </li>
                                <li>
                            		<a class="dropdown-menu-sub-footer">View all notifications</a>
								</li>	
							</ul>
						</li>
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="halflings-icon white user"></i> {{user}}
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/dairy/"><i class="halflings-icon white user"></i> Profile</a></li>
								<li><a href="/accounts/logout/"><i class="halflings-icon white off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">

				
			<!-- start: Main Menu -->
			<div id="sidebar-left" class="span1">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/alerts/"><i class="fa-icon-tasks"></i><span class="hidden-tablet"> Tasks</span></a></li>
						<li><a href="/cows/"><i class="fa-icon-hdd"></i><span class="hidden-tablet"> Cattle</span></a></li>
						<li><a href="/pregnancy/"><i class="fa-icon-envelope"></i><span class="hidden-tablet"> Reproduction</span></a></li>
						<li><a href="/status/"><i class="fa-icon-eye-open"></i><span class="hidden-tablet"> Status</span></a></li>
						<li><a href="/tasks/"><i class="fa-icon-dashboard"></i><span class="hidden-tablet"> Health Tasks</span></a></li>
						<li><a href="/milk/"><i class="fa-icon-dashboard"></i><span class="hidden-tablet"> Milk Records</span></a></li>
						<li><a href="/"><i class="fa-icon-bar-chart"></i><span class="hidden-tablet">Analytics</span></a></li>	
					</ul>
				</div>
			</div>
			<a id="main-menu-toggle" class="hidden-phone open"><i class="fa-icon-reorder"></i></a>
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span11">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<!-- start: Content -->
			<div id="content" class="span11">
			{%block content%}
			
			<div class="row-fluid">
				
				<div class="stats-date span3">
					<div>Monthly Statistics</div>
					<div class="range">02/10/2012 - 02/11/2012</div>
				</div>
				
				<div class="stats span9">
					
					<div class="stat">
						<div class="left">
							<div class="number green">25,000</div>
							<div class="title"><span class="color green"></span> Milk</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="{%static "acme/img/uparrow.png"%}" />
							</div>
							<div class="percent">+13%</div>
						</div>
					</div>
					
					<div class="stat">
						<div class="left">
							<div class="number yellow">20</div>
							<div class="title"><span class="color yellow"></span> Calving</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="{%static "acme/img/uparrow.png"%}" />
							</div>
							<div class="percent">+17%</div>
						</div>
					</div>
					
					<div class="stat">
						<div class="left">
							<div class="number blue">12</div>
							<div class="title"><span class="color blue"></span>Pregnant</div>
						</div>
						<div class="right">	
							<div class="arrow">
								<img src="{%static "acme/img/downarrow.png"%}" />
							</div>
							<div class="percent">-3%</div>
						</div>
					</div>
					
					
						
				</div>
			
			</div>	

			<div class="row-fluid">
				
				<div id="stats-chart2" class="span12" style="height:300px;overflow:hidden;"></div>
			
			</div>
			
			<hr />
			
			<div class="row-fluid">
				
				<div class="widget span5" ontablet="span12" ondesktop="span5">
					
					<h2><span class="glyphicons globe"><i></i></span> Demographics</h2>
					
					<hr />
					
					<div class="content">
						
						<div class="verticalChart">
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>37%</span>
									</div>
								
								</div>
								
								<div class="title">US</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>16%</span>
									</div>
								
								</div>
								
								<div class="title">PL</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>12%</span>
									</div>
								
								</div>
								
								<div class="title">GB</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>9%</span>
									</div>
								
								</div>
								
								<div class="title">DE</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>7%</span>
									</div>
								
								</div>
								
								<div class="title">NL</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>6%</span>
									</div>
								
								</div>
								
								<div class="title">CA</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>5%</span>
									</div>
								
								</div>
								
								<div class="title">FI</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>4%</span>
									</div>
								
								</div>
								
								<div class="title">RU</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>3%</span>
									</div>
								
								</div>
								
								<div class="title">AU</div>
							
							</div>
							
							<div class="singleBar">
							
								<div class="bar">
								
									<div class="value">
										<span>1%</span>
									</div>
								
								</div>
								
								<div class="title">N/A</div>
							
							</div>	
							
						</div>
					
					</div>
					
				</div><!--/span-->
				
				<div class="widget span3 noMargin" ontablet="span6" ondesktop="span3">
					
					<h2><span class="glyphicons pie_chart"><i></i></span> Reproduction Tracker</h2>
					
					<hr />
					
					<div class="content">
						
						<div class="browserStat big">
							<img src="img/browser-chrome-big.png" alt="Chrome" />
							<span>34%</span>
						</div>
						<div class="browserStat big">
							<img src="img/browser-firefox-big.png" alt="Firefox" />
							<span>34%</span>
						</div>
						<div class="browserStat">
							<img src="img/browser-ie.png" alt="Internet Explorer" />
							<span>34%</span>
						</div>
						<div class="browserStat">
							<img src="img/browser-safari.png" alt="Safari" />
							<span>34%</span>
						</div>
						<div class="browserStat">
							<img src="img/browser-opera.png" alt="Opera" />
							<span>34%</span>
						</div>	
								
						
					</div>
				</div>
				
				<div class="widget span4" ontablet="span6" ondesktop="span4">
					<h2><span class="glyphicons charts"><i></i></span> Weekly Stat</h2>
					
					<hr />
					
					<div class="content">
						<div class="sparkLineStats">

	                        <ul class="unstyled">
	                            
	                            <li><span class="sparkLineStats3"></span> 
	                                Milk: 
	                                <span class="number">781</span>
	                            </li>
	                            <li><span class="sparkLineStats4"></span>
	                                Pages / Visit: 
	                                <span class="number">2,19</span>
	                            </li>
	                            <li><span class="sparkLineStats5"></span>
	                                Avg. Visit Duration: 
	                                <span class="number">00:02:58</span>
	                            </li>
	                            <li><span class="sparkLineStats6"></span>
	                                Bounce Rate: <span class="number">59,83%</span>
	                            </li>
	                            <li><span class="sparkLineStats7"></span>
	                                % New Visits: 
	                                <span class="number">70,79%</span>
	                            </li>
	                            <li><span class="sparkLineStats8"></span>
	                                % Returning Visitor: 
	                                <span class="number">29,21%</span>
	                            </li>

	                        </ul>
	
	                    </div><!-- End .sparkStats -->
					</div>
				</div><!--/span-->
			
			</div>
			
			<hr />
			
			<div class="row-fluid">
				
				<div class="widget span6" ontablet="span6" ondesktop="span6">
					<h2><span class="glyphicons facebook"><i></i></span>Top preforming cattle</h2>
					<hr />
					<div class="content">
						<div id="facebookChart" style="height:300px;overflow:hidden;"></div>
					</div>
				</div><!--/span-->
				
				<div class="widget span6" ontablet="span6" ondesktop="span6">
					<h2><span class="glyphicons twitter"><i></i></span>Worst performing cattle</h2>
					<hr />
					<div class="content">
						<div id="twitterChart" style="height:300px;overflow:hidden;"></div>
					</div>
				</div><!--/span-->
			
			</div>
				
			
       {%endblock%}
					
			</div>
			<!-- end: Content -->
			
			<!-- start: Widgets Area -->
<div id="widgets-area" class="span2 hidden-tablet hidden-phone">
	
	<ul class="nav tab-menu nav-tabs" id="myTab">
		<li class="active"><a href="#charts"><i class="fa-icon-bar-chart"></i></a></li>
		<li><a href="#users"><i class="fa-icon-group"></i></a></li>
		<li><a href="#messages"><i class="fa-icon-envelope"></i></a></li>
		<li><a id="close-widgets-area" href="#"><i class="fa-icon-signin"></i></a></li>
	</ul>
	 
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane active" id="charts">
			
			<div class="bar-stat">
				<span class="title">Account balance</span>
				<span class="value">$19 999,99</span>
				<span class="chart green">7,3,2,6,6,3,9,0,1,4</span>
			</div>

			<hr />

			<div class="bar-stat">
				<span class="title">Clients</span>
				<span class="value">1278</span>
				<span class="chart yellow">8,2,5,4,7,4,7,2,5,9</span>
			</div>

			<hr />

			<div class="bar-stat">
				<span class="title">Orders</span>
				<span class="value">5876</span>
				<span class="chart blue">2,4,6,8,3,5,9,3,2,2</span>
			</div>

			<hr />

			<div class="bar-stat">
				<span class="title">Messages</span>
				<span class="value">673</span>
				<span class="chart red">0,3,3,8,3,3,2,7,8,4</span>
			</div>
			
			<hr />
			
			<div id="cpu-usage"></div>
			
			<ul class="progress-bars">
				
				<li>
					<span class="title">Free Memory</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressGreen">80</div>
				</li>
				
				<li>
					<span class="title">Free HDD Drive</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressYellow">20</div>
				</li>
				
				<li>
					<span class="title">Free SSD Drive</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressBlue">57</div>
				</li>
				
				<li>
					<span class="title">Transfer</span>
					<span class="percent"></span>
					<div class="taskProgress progressSlim progressRed">45</div>
				</li>	
				
			</ul>	

		</div>
		<div class="tab-pane" id="users">
			
			<ul class="users-list">
            	<li>
                    <a href="#">
						<span class="status active"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar.jpg" alt="Avatar" /></span>
						<span class="name">Łukasz Holeczek</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span class="status busy"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar2.jpg" alt="Avatar" /></span>
						<span class="name">Megan Abott</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span class="status disable"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar3.jpg" alt="Avatar" /></span>
						<span class="name">Kate Ross</span>
                    </a>
                </li>
				<li>
                    <a href="#">
						<span class="status active"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar4.jpg" alt="Avatar" /></span>
						<span class="name">Julie Blank</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<span class="status"></span>
						<span class="avatar"><img class="img-circle" src="img/avatar5.jpg" alt="Avatar" /></span>
						<span class="name">Jane Sanders</span>
                    </a>
                </li>
				<li>
            		<a href="#">View all users</a>
				</li>	
			</ul>

		</div>
		<div class="tab-pane" id="messages">
			
			<ul class="messages-list">
            	<li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar.jpg" alt="Avatar" /></div>
						<span class="name">Łukasz Holeczek</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar2.jpg" alt="Avatar" /></div>
						<span class="name">Megan Abott</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar3.jpg" alt="Avatar" /></div>
						<span class="name">Kate Ross</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
				<li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar4.jpg" alt="Avatar" /></div>
						<span class="name">Julie Blank</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
                <li>
                    <a href="#">
						<div class="avatar"><img class="img-circle" src="img/avatar5.jpg" alt="Avatar" /></div>
						<span class="name">Jane Sanders</span>
						<span class="date">25/6/2013</span>
						<span class="title">Custom Bootstrap design for new client</span>
                    </a>
                </li>
				<li>
            		<a href="#">View all messages</a>
				</li>	
			</ul>

		</div>
	</div>
			
</div>
<!-- end: Widgets Area -->

<a id="widgets-area-button" class="hidden-tablet hidden-phone open"><i class="fa-icon-reorder"></i></a>				
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		
		<footer>
			<p>
				<span style="text-align:left;float:left">&copy; 2015 <a href="http://cattlebook.co" alt="Cattlebook">Cattlebook</a></span>

			</p>
		</footer>
				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="{%static "acme/js/jquery-1.9.1.min.js"%}"></script>
	<script src="{%static "acme/js/jquery-migrate-1.0.0.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery-ui-1.10.0.custom.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.ui.touch-punch.js"%}"></script>
	
		<script src="{%static "acme/js/modernizr.js"%}"></script>
	
		<script src="{%static "acme/js/bootstrap.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.cookie.js"%}"></script>
	
		<script src="{%static "acme/js/fullcalendar.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.dataTables.min.js"%}"></script>

		<script src="{%static "acme/js/excanvas.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.pie.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.stack.js"%}"></script>
	<script src="{%static "acme/js/jquery.flot.resize.min.js"%}"></script>
		
		<script src="{%static "acme/js/gauge.min.js"%}"></script>

		<script src="{%static "acme/js/jquery.chosen.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.uniform.min.js"%}"></script>
		
		<script src="{%static "acme/js/jquery.cleditor.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.noty.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.elfinder.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.raty.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.iphone.toggle.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.uploadify-3.1.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.gritter.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.imagesloaded.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.masonry.min.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.knob.modified.js"%}"></script>
	
		<script src="{%static "acme/js/jquery.sparkline.min.js"%}"></script>
			<script src="{%static "acme/js/counter.js"%}"></script>
	
		<script src="{%static "acme/js/raphael.2.1.0.min.js"%}"></script>
	<script src="{%static "acme/js/justgage.1.0.1.min.js"%}"></script>
	
		<script src="{%static "acme/js/retina.js"%}"></script>

		<script src="{%static "acme/js/core.min.js"%}"></script>
	
		<script src="{%static "acme/js/charts.js"%}"></script>
	
		<script src="{%static "acme/js/custom.js"%}"></script>
	<!-- end: JavaScript-->
	
</body>
</html>
