{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%}{%trans "Delete task record"%} - {{task}} {%endblock%}
{%block content%}
  <div class="col-sm-12 col-md-12">

{% bootstrap_messages %}

<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{task}}</div>

<table class="table">
<tr>
<td>
{%trans "Task Name"%}:
</td>
<td>
{{task}}
</td>
<tr>
<td>
{%trans "Are you sure want to delete this task record?"%}
</td>
<td>
<a href="/task/delete/{{task.id}}/">{%trans "Yes, delete this"%}</a>
</td>
</tr>



</table>


     </div>
</div>
{%endblock%}


{%block bottom%}
{%endblock%}
