{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} {%trans "Tasks List"%} {%endblock%}
{%block content%}

  <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Your Health Tasks"%}</h2>
					</div>
					<div class="box-content">
	
<div class="row">
<a class="btn btn-info pull-right span2" href="/add_health_task/">{%trans "New Task"%}</a>
</div>


{% bootstrap_messages %}

<div class="panel panel-default">
       
        <!-- Table -->
<div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{%trans "Task"%}</th>
              <th>{%trans "Cattle"%}</th>
	      <th>{%trans "Due"%}</th>
	      <th>{%trans "Completed"%}</th>
	      <th>{%trans "Result"%}</th>
              <th><i class="fa fa-wrench"></th>
            </tr>
          </thead>
          <tbody>
{%for task in tasks%}           
 <tr>
              <td><a class="" href="/task/{{task.id}}/">{{task.task_name|upper}}</a></td>
              <td><a href="/cow/{{task.cow.id}}/">{{task.cow|upper}}</a></td>
              <td>{{task.due_date}}</td>
              <td>{%if  task.task_completed%} <span class="label label-success">Yes</span> {%else%}<span class="label label-important">No</span>{%endif%}</td>
              <td>{%if task.result%}{{task.result}} {%else%}Pending{%endif%}</td>
              <td>

<div class="btn-group">
<a class="btn btn-default" href="/update_task/{{task.id}}"><i class="fa fa-edit"></i></a>
<a class="btn btn-default" href="/add_next_task/{{task.id}}"><i class="fa fa-plus"></i></a>
<a class="btn btn-danger" href="/task/delete/confirm/{{task.id}}"><i class="fa fa-minus"></i></a>
</div>
</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
</div>
{%endblock%}


{%block bottom%}
{%endblock%}
