{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} {%trans "Update Health Task"%} {%endblock%}
{%block content%}
 <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Update this task"%}</h2>
					</div>
					<div class="box-content">
	



{% bootstrap_messages %}
<table class="table">
<tr>
<td>
{%trans "Task Name"%}:
</td>
<td>
{{task.task_name}}
</td>
</tr>
<tr>
<td>
{%trans "Cattle name"%}:
</td>
<td>
<a href="/cow/{{task.cow.id}}/">{{task.cow.name}}</a>
</td>
</tr>
<tr>
<td>
{%trans "Added on"%}:
</td>
<td>
{{task.added_on}}
</td>
</tr>
<tr>
<td>
{%trans "Details"%}:
</td>
<td>
{{task.task_details}}
</td>
</tr>




</table>

<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Submit"%}
        </button>
    {% endbuttons %}
</form>


</div>
{%endblock%}


{%block bottom%}
{%endblock%}
