{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%} {%trans "Add Mobile Number"%}{%endblock%}
{%block content%}
  <div class="col-sm-12 col-md-12">
<h1>{%trans "Add New"%}</h1>

{% bootstrap_messages %}


<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Submit"%}
        </button>
    {% endbuttons %}
</form>


</div>
{%endblock%}


{%block bottom%}
{%endblock%}
