{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%}{%trans "Today's Alerts List"%}{%endblock%}
{%block content%}

 <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Alerts for"%} - {{date}}</h2>
					</div>
					<div class="box-content">
	



{% bootstrap_messages %}
<div class="row">
				<p class="pull-right"><a class="btn" href="/alerts/?date={{previous}}"><i class="fa fa-arrow-left"></i>{%trans "Previous Date"%}</a>   
<a class="btn" href="/alerts/?date={{next}}">||{%trans "Next Date"%}
<i class="fa fa-arrow-right"></i>
</a> 

</p>	
</div>
{%if not alerts and not result_list%}
<div class="alert alert-warning">
<strong>{%trans "Uh oh"%}</strong>{%trans "No alerts and notifications for the date"%}
</div>
{%endif%}

{%if alerts%}	

				<div class="priority high"><span>{%trans "Critical Alerts"%}</span></div>
				{%for alert in alerts%}	
					<div class="task high">
						<div class="desc">
							<div class="title">{{alert.task}}</div>
							<div>Cattle # <a href="/cow/{{alert.cow.id}}/">{{alert.cow}}</a> was {{alert.stage}} <b>{{alert.alert.day}} days ago</b>. Please do a checkup of the cattle, it is due for the checkup - <b>{{alert.alert.message}}.</b> Consult your doctor for more information.</div>
						</div>
					</div>

				{%endfor%}	
{%endif%}

{%if result_list%}
					<div class="priority medium"><span>Today is due date for following</span></div>
				
{%for task in result_list%}	
					<div class="task medium">
						<div class="desc">
							<div>

			
		{%if task.pregnancy.cow%}
				   <a class="cow" href="/cow/{{task.pregnancy.cow.id}}/">{%trans "Cattle #"%} {{task.pregnancy.cow}}</a>
				{%else%}

				   <a class="cow" href="/cow/{{task.cow.id}}/">{%trans "Cattle #"%} {{task.cow.name}}</a>
{%endif%}
    {%if task.notes%}
                                    was treated for <b>{{task.notes}}</b>
				{%endif%}
                                    {%if task.task_details%}
                                    was treated for <b>{{task.task_details}}</b> 
                                    {%endif%}
on date <b>{{task.due_date}}.</b>

{%if task.task_name%}
The treatment was <b>{{task.task_name}}</b>.
<br>

<a class="btn btn-link" href="/task/{{task.id}}/" >{%trans "Details"%}</a> 
<a class="btn btn-link" href="/update_task/{{task.id}}/" >{%trans "Details"%}</a> 
{%else%}
The state of the cattle was <b>{{task}}</b>.
<br>
<a class="btn btn-link" href="/pregnancy/record/{{task.pregnancy.id}}/" >{%trans "Details"%}</a> 
<a class="btn btn-info" href="/pregnancy/result/{{task}}/{{task.id}}/">Update Result</a>
{%endif%}


                                    <div class="clearfix"></div>

</div>
						</div>
					</div>
				
{%endfor%}
{%endif%}	
					
					<div class="clearfix"></div>		
					
				</div>
{%endblock%}


{%block bottom%}
{%endblock%}
