{%extends 'cow/index.html'%}
{% load bootstrap3 %}
{% load i18n %}
{%block title%}{%trans "Cattle Status List"%}{%endblock%}
{%block content%}
 <div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>{%trans "Statuswise categorization of cattle"%}</h2>
					</div>
					<div class="box-content">
<div class="alert alert-info"><strong>{%trans "Heads Up!"%}</strong>{%trans "Categorization helps in getting better treatment for each cattle and knowing the overall health of the dairy"%}</div>	



{% bootstrap_messages %}

<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Fresh List"%}<h4>
<small>{%trans "From 0 to 30th day after Parturition"%}</small>
</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in fresh%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>

<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Ready List"%}<h4>

<small>{%trans "From 30th day after Parturition"%}</small>

</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in ready%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Pregnant I List"%}<h4>
 
<small>{%trans "Upto 5 days after Pregnant"%}</small>

</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in preg_one%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>

<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Pregnant II List"%}<h4>

<small>{%trans "60 to 90 days after Pregnant"%}</small>

</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in preg_two%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Pregnant III List"%}<h4>

<small>{%trans "90th day to 7 months after Pregnant"%}</small>

</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in preg_three%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Dry Pregnant List"%}<h4>
<small>{%trans "7 months after pregnant"%}</small>
</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in dry_preg%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>
<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Close Up Pregnant List"%}<h4>
<small>{%trans "Upto 30 days before Parturition"%}</small>
</div>

        <!-- Table -->
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>{%trans "#"%}</th>
              <th>{%trans "Stage"%}</th>
              <th>{%trans "Confirmed on"%}</th>
            </tr>
          </thead>
          <tbody>
{%for cow in closeup%}           
 <tr>
              <td><a href="/cow/{{cow.cow.id}}/">{{cow.cow}}</a></td>
              <td><a href="/pregnancy/record/{{cow.stage.pregnancy.id}}/">{{cow.stage}}</a></td>
              <td>{{cow.stage.date}}</td>
            </tr>
{%empty%}
<tr>
<td colspan="3">
No records found!
</td>
</tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>

</div>
{%endblock%}


{%block bottom%}
{%endblock%}
