{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Dairy Management</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static "bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
    <link href="{%static "chosen/chosen.min.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="offcanvas.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  
<style>
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
</style>
{%block css%}

{%endblock%}

</head>

  <body>
{%block body%}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Dairy Management</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
                    
<div class="row">
{%block content%}

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="..." src="{%static "images/cow.png"%}">
      <div class="caption">
        <h3>Cow Records</h3>
        <p>...</p>
        <p><a href="/add_cow/" class="btn btn-primary" role="button">Add New</a> <a href="/cows/" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="..." src="{%static "images/health.png"%}">
      <div class="caption">
        <h3>Health Records</h3>
        <p>...</p>
        <p><a href="/add_health_task/" class="btn btn-primary" role="button">Add New</a> <a href="/tasks/" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>

 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img alt="..." src="{%static "images/milk.png"%}">
      <div class="caption">
        <h3>Milk Records</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Add New</a> <a href="#" class="btn btn-default" role="button">View</a></p>
      </div>
    </div>
  </div>


{%endblock%}
</div>

{%block bottom%}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Notifications</h3>
  </div>
  <div class="panel-body">
<h3>Today's tasks</h3>
<ul>
{%for task in todays_tasks%}
<li>
<img data-src="holder.js/50x50" alt="...">
{{task.cow.name}} is due for 'Cross' check on 20-5-2013.<a href="/update_task/{{task.id}}/" class="btn btn-primary" role="button">Update</a> 
</li>  
{%endfor%}
</ul>

<h3>Upcoming tasks</h3>
<ul>
{%for task in upcoming_tasks%}
<li>
<img data-src="holder.js/50x50" alt="...">
{{task.cow.name}} is due for 'Cross' check on 20-5-2013.<a href="/update_task/{{task.id}}/" class="btn btn-primary" role="button">Update</a> 
</li>  
{%endfor%}
</ul>

</div>
</div>
{%endblock%}
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.container-->


{%endblock%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js"%}"></script>
    <script src="{%static "bootstrap/js/holder.js"%}"></script>
    <script src="{%static "chosen/chosen.jquery.min.js"%}"></script>
    <script>

$(document).ready(function() {
  $('[data-toggle=offcanvas]').click(function() {
    $('.row-offcanvas').toggleClass('active');
  });
});
  </script>

  </body>
</html>

