{%load staticfiles%}
{% load bootstrap3 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cattlebook - Animal Health Monitoring</title>

        <!-- CSS -->
        <link rel="stylesheet" href="{%static 'marco/css.css'%}">        
        <link rel="stylesheet" href="{%static 'marco/bootstrap.css'%}">
        <link rel="stylesheet" href="{%static 'marco/typicons.css'%}">
        <link rel="stylesheet" href="{%static 'marco/animate.css'%}">
        <link rel="stylesheet" href="{%static 'marco/magnific-popup.css'%}">
		<link rel="stylesheet" href="{%static 'marco/form-elements.css'%}">
        <link rel="stylesheet" href="{%static 'marco/style.css'%}">
        <link rel="stylesheet" href="{%static 'marco/media-queries.css'%}">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->

       

   </head>

    <body>
    
        <!-- Loader -->
    	<div style="display: none;" class="loader">
    		<div style="display: none;" class="loader-img"></div>
    	</div>
				
        <!-- Top content -->
        <div style="position: relative; z-index: 0; background: none repeat scroll 0% 0% transparent;" class="top-content">
        	
        	<!-- Top menu -->
			<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">Cattlebook</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a class="scroll-link" href="#features">Features</a></li>

							
							<li><a class="btn btn-link-2" href="/accounts/login/">Login</a></li>
						</ul>
					</div>
				</div>
			</nav>
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                            <h1 style="visibility: visible; animation-name: fadeInLeftBig;" class="wow fadeInLeftBig animated"> Monitor and track health and breeding of you animals	</h1>
                            <div style="visibility: visible; animation-name: fadeInLeftBig;" class="description wow fadeInLeftBig animated">
                            	<p>
	                            	 Tracking converts into better reproduction, milk and a healthy dairy farm!
                            	</p>
                            </div>
                            <div style="visibility: visible; animation-name: fadeInUp;" class="top-big-link wow fadeInUp animated">

                            	<a class="btn btn-link-2 scroll-link" href="#features">Features</a>
                            </div>
                        </div>
                        <div style="visibility: visible; animation-name: fadeInUp;" class="col-sm-5 form-box wow fadeInUp animated">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>30 Day Free Trial</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<span aria-hidden="true" class="typcn typcn-pencil"></span>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Sign Up"%}
        </button>
    {% endbuttons %}
</form>

		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <div style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 897px; width: 1587px; z-index: -999998; position: absolute;" class="backstretch"><img src="Marco%20-%20Bootstrap%20Landing%20Page_files/1_003.jpg" style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 1587px; height: 1190.25px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -146.625px;"></div></div>
        
        <!-- Features -->
        <div class="features-container section-container">
	        <div class="container">
	            <div class="row">
	                <div style="visibility: visible; animation-name: fadeIn;" class="col-sm-12 features section-description wow fadeIn animated">
	                    <h2>What's included</h2>
	                    <div style="visibility: visible; animation-name: fadeInUp;" class="divider-1 wow fadeInUp animated"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div style="visibility: visible; animation-name: fadeInUp;" class="col-sm-4 features-box features-box-gray wow fadeInUp animated">
	                	<div class="features-box-icon">

	                	</div>
	                    <h3> Pregnancy Tracker </h3>
	                    <p>Monitor and track each stage of the cattle pregnancy cycle. From parturition to Delievery, in a visualized manner. Easy notifications and alerts for each stage. </p>
                    </div>
                    <div style="visibility: visible; animation-name: fadeInDown;" class="col-sm-4 features-box wow fadeInDown animated">
	                	<div class="features-box-icon">

	                	</div>
	                    <h3> Health Task Alerts </h3>
	                    <p>Get daily updates and notifications for due health related tasks for each of your cattle. Never miss a checkup which may lead to diseases or infections. </p>
                    </div>
                    <div style="visibility: visible; animation-name: fadeInUp;" class="col-sm-4 features-box features-box-gray wow fadeInUp animated">
	                	<div class="features-box-icon">

	                	</div>
	                    <h3> Cloud based </h3>
	                    <p> Access your data safely from anywhere. Works great in Mobile Browsers and Desktop Browsers.
</p>
                    </div>
	            </div>
	           
        </div>

		
     

        <!-- Footer -->
        
        
       


        <!-- Javascript -->
        <script src="{%static 'marco/jquery-1.js'%}"></script>
        <script src="{%static 'marco/bootstrap.js'%}"></script>
        <script src="{%static 'marco/jquery.js'%}"></script>
        <script src="{%static 'marco/wow.js'%}"</script>
        <script src="{%static 'marco/retina-1.js'%}"></script>
        <script src="{%static 'marco/jquery_002.js'%}"></script>
        <script src="{%static 'marco/scripts.js'%}"></script>
        
        <!--[if lt IE 10]>
            <script src="assets/js/placeholder.js"></script>
        <![endif]-->

    

</body></html>
