{%load staticfiles%}
{%load bootstrap3%}
{% load i18n %} 
<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8" />
	<title>{%trans "Cattlebook"%} | {%trans "Login"%}</title>



	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link href="{%static "acme/css/bootstrap.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/bootstrap-responsive.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/style.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/style-responsive.min.css"%}" rel="stylesheet" />
	<link href="{%static "acme/css/retina.css"%}" rel="stylesheet" />
	<!-- end: CSS -->

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="css/ie.css" rel="stylesheet">
	<![endif]-->
	
	<!--[if IE 9]>
		<link id="ie9style" href="css/ie9.css" rel="stylesheet">
	<![endif]-->
	
	<!-- start: Favicon and Touch Icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{%static "acme/ico/apple-touch-icon-144-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{%static "acme/ico/apple-touch-icon-114-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{%static "acme/ico/apple-touch-icon-72-precomposed.png" />
	<link rel="apple-touch-icon-precomposed" href="{%static "acme/ico/apple-touch-icon-57-precomposed.png" />
	<link rel="shortcut icon" href="ico/favicon.png" />
	<!-- end: Favicon and Touch Icons -->
	
			<style type="text/css">
			body { background: url("{%static 'acme/img/bg-login.jpg'%}") !important; }
		</style>
		
		
		
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
		<div class="container-fluid">
		<div class="row-fluid">

					
			<div class="row-fluid">
				<div class="login-box">
					<div class="icons">
						<a href="/"><i class="halflings-icon home"></i></a>

					</div>
					<h2>{%trans "Login to your account"%}</h2>

{% bootstrap_messages %}
{%if form.non_field_errors%}
<div class="alert alert-error">{{ form.non_field_errors }}</div>
{%endif%}
					<form class="form-horizontal" action="" method="post" />{%csrf_token%}
						<fieldset>
							
							<div class="input-prepend" title="Username">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								<input class="input-large span10" name="username" id="username" type="text" placeholder="{%trans "type username"%}" />
							</div>
							<div class="clearfix"></div>

							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
								<input class="input-large span10" name="password" id="password" type="password" placeholder="{%trans "type password"%}" />
							</div>
							<div class="clearfix"></div>
							
							<label class="remember" for="remember"><input type="checkbox" id="remember" />{%trans "Remember me"%}</label>

							<div class="button-login">	
								<button type="submit" class="btn btn-primary">{%trans "Login"%}</button>
							</div>
							<div class="clearfix"></div>
					</form>
					<hr />
					
				</fieldset></div><!--/span-->
			</div><!--/row-->
			
				</div><!--/fluid-row-->
				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/modernizr.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		
	
		<script src="js/jquery.uniform.min.js"></script>
		
		
	
</body>
</html>
