{%extends 'cow/index.html'%}

{% load i18n %} 
{% load bootstrap3 %}
{%block content%}

	<div class="row-fluid ">	
				<div class="box span12">
					<div class="box-header">
						<h2><i class="halflings-icon hand-top"></i><span class="break"></span>Settings</h2>
					</div>
					<div class="box-content">

{% bootstrap_messages %}


<form action="" method="post" enctype= "multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Submit"%}
        </button>
    {% endbuttons %}
</form>

<div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>{%trans "Additional Mobile Numbers"%}</h4>
<a class="btn btn-link " href="/alerts/add_number/">{%trans "Add New"%}</a>
</div>
<div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
	      <th>{%trans "Number"%}</th>
              <th>{%trans "SMS subscribed"%}</th>
            </tr>
          </thead>
          <tbody>
{%for number in numbers%}           
 <tr>
              <td>{{number.number}}</td>
              <td>{{number.is_subscribed}}</td>
              <td>
</td>
            </tr>
{%endfor%}
                     </tbody>
        </table>
</div>
      </div>


<form action="{% url 'set_language' %}" method="post">
{% csrf_token %}
<input name="next" type="hidden" value="{{ redirect_to }}" />
<select name="language">
{% get_language_info_list for LANGUAGES as languages %}
{% for language in languages %}
<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
    {{ language.name_local }} ({{ language.code }})
</option>
{% endfor %}
</select>
<input type="submit" value="{%trans "Go"%}" />
</form>


{%endblock%}

{%block bottom%}
{%endblock%}
