{% load staticfiles %}

{% load i18n %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CattleBook | Signup</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%static "bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{%static "css/plugins/metisMenu/metisMenu.min.css"%}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%static "css/sb-admin-2.css"%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{%static "font-awesome-4.1.0/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
<br><br>
<h1>SIGNUP FOR CATTLEBOOK NOW</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Create your account now</h3>
                    </div>
                    <div class="panel-body">

<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} {%trans "Signup"%}
        </button>
    {% endbuttons %}
</form>




                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{%static "js/jquery.js"%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static "js/bootstrap.min.js"%}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{%static "js/plugins/metisMenu/metisMenu.min.js"%}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{%static "js/sb-admin-2.js"%}"></script>

</body>

</html>
